.cardSkeleton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}
.circle{
    width: clamp(12.5rem, 8.8362rem + 17.2414vw, 25rem);
    height: clamp(12.5rem, 8.8362rem + 17.2414vw, 25rem);
    box-shadow: 8px -3px 1px var(--clr-accent-600),
    -8px -5px 1px var(--clr-accent-300);
}
.title{
    height: 50px;
    width: 250px;
}
.line{
    height: 15px;
    width: 300px;
    pointer-events: none;
}

@media only screen and (min-width: 600px){
    .line {
        width: 500px;
    }
}
